<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlantManagment.Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
<<<<<<< HEAD
                <div class="d-flex">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <input type="button" class="btn btn-outline-primary" value="Sign Up" onclick="location.href='@Url.Action("Registration", "Account")'" />
                        </li>
                        <li class="nav-item">
                            <input type="button" class="btn btn-outline-primary" value="Log In" onclick="location.href='@Url.Action("Authorization", "Account")'" />
                        </li>
                        <li class="nav-item">
                            <input type="button" class="btn btn-outline-primary" value="Log Out" onclick="location.href='@Url.Action("Logout", "Account")'" />
                        </li>
                    </ul>
                </div>
=======
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <input type="button" class="btn btn-outline-primary" value="Sign Up" onclick="location.href='@Url.Action("Registration", "Account")'" />
                    </li>
                    <li class="nav-item">
                        <input type="button" class="btn btn-outline-primary" value="Log In" onclick="location.href='@Url.Action("Authorization", "Account")'" />
                    </li>
                    <li class="nav-item">
                        <input type="button" class="btn btn-outline-primary" value="Log Out" onclick="location.href='@Url.Action("Logout", "Account")'" />
                    </li>
                </ul>
>>>>>>> 63851a315ec8051887d613819941c215fc5740fc
            </div>
        </div>
    </nav>
</header>